# системные файлы macos и windows
.DS_Store
Thumbs.db

# файлы редакторов кода
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# исходные шаблоны и служебные файлы
*.xlsx
*.xlsm
Инструкция администратора.md
Инструкция для менеджеров.md
*.docx
